body {
    margin: 3rem;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #000;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #ddd;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #eee;
}